/* General styling */
body {
    font-family: 'Noto Sans TC', Arial, sans-serif;
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #C93E2E;
    color: white;
}

.logo-img {
    width: 33%;
    margin: 3%;
    margin-right: auto;
}

main {
    padding: 20px;
    margin-bottom: 50px;
}

/* Language Switcher */
.language-switcher {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.language-switcher button {
    background-color: #3f2e2d;
    color: white;
    border: none;
    padding: 8px;
    margin: 3px;
    cursor: pointer;
    border-radius: 5px;
    width: 40px;
    text-align: center;
}

.language-switcher button:hover {
    background-color: #8E1515;
}

/* Tabs Navigation */
.tabs {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.tab-link {
    flex: 1;
    background-color: #C93E2E;
    color: #fff;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
    text-align: center;
    min-height: 110px;
}

.tab-link.active,
.tab-link:hover {
    background-color: #8E1515;
}

/* Tab Contents */
.tab-content {
    display: none;
    padding: 5px;
    margin-top: 20px;
    background-color: #FAF9F6;
    border: 2px solid #3f2e2d;
    border-radius: 10px;
}

.tab-content.active {
    display: block;
}

.tab-content h2{
    color: #C93E2E;
}

.cocktail-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
  }
  
  .cocktail-content {
    grid-column: 1 / -1; /* Place content in the first column */
  }
  
  .cocktail-image {
    grid-column: 2; /* Place image in the second column */
  }
  
  .cocktail-story {
    grid-column: 1 / -1; /* Span the story across both columns */
  }

/* Footer */
.footer-warning {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #3f2e2d;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.footer-warning img {
    max-width: 100%;
    height: auto;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #b85450; /* Button color */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .back-button:hover {
    background-color: #8c3c39; /* Hover color */
  }

  .portal-content {
    text-align: center;
    margin: 50px auto;
}

.links {
    margin-top: 20px;
}

.portal-link {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    background-color: #b85450;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.portal-link:hover {
    background-color: #8c3c39;
}