/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Noto Sans TC', Arial, sans-serif;
    background-color: white;
    color: #3f2e2d;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Header */
header {
    width: 100%;
    background-color: #C93E2E;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#logo {
    font-size: 24px;
    font-weight: bold;
}

/* Navigation Tabs */
#big-nav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#big-nav button {
    background-color: #C93E2E;
    color: #fff;
    border: none;
    padding: 5px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

#big-nav button:hover {
    background-color: #8E1515;
}

/* Main Content Area */
#main-content {
    display: flex; /* Use flexbox layout */
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    padding: 20px;
}

/* Side Navigation */
#side-nav {
    width: 50px; /* Fixed width for the side nav */
    background-color: #FAF9F6;
    padding: 5px;
    border-radius: 10px;
}

#side-nav button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #C93E2E;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#side-nav button:hover {
    background-color: #8E1515;
}

/* Main Content Display */
#items-content {
    flex-grow: 1; /* Allow the main content to take the remaining space */
    background-color: #FAF9F6;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #3f2e2d;
    margin-left: 5px; /* Add some space between side nav and content */
}

#intro-content {
    margin-bottom: 20px;
}

#intro-content h2 {
    font-size: 24px;
    color: #C93E2E;
    margin-bottom: 10px;
}

#item-details {
    padding-top: 20px;
}

#item-details h3 {
    font-size: 20px;
    color: #C93E2E;
    margin-bottom: 10px;
}

#item-details img {
    max-width: 0%;
    height: auto;
    margin-bottom: 15px;
}

#item-details p {
    margin: 10px 0;
}

/* Footer */
footer {
    width: 100%;
    background-color: #3f2e2d;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}